<!-- footer列：一列三欄 -->
      <div class="row text-center text-secondary mt-5">
        <!-- 第一欄 -->
        <div class="col-12 col-md-4 my-3">
          <h1 class="h5 text-white">---網站導覽---</h1>
          <ul class="h6 list-unstyled">
            <li class="my-3"><a href="" class="nav-link">首頁    </a></li>
            <li class="my-3"><a href="" class="nav-link">關於我們</a></li>
            <li class="my-3"><a href="" class="nav-link">最新活動</a></li>
            <li class="my-3"><a href="" class="nav-link">學員見證</a></li>
            <li class="my-3"><a href="" class="nav-link">服務項目</a></li>
            <li class="my-3"><a href="" class="nav-link">場館介紹</a></li>
            <li class="my-3"><a href="" class="nav-link">健身教學</a></li>
            <li class="my-3"><a href="" class="nav-link">聯絡我們</a></li>
          </ul>
        </div>
        <!-- 第二欄 -->
        <div class="col-12 col-md-4 my-3">
          <h1 class="h5 text-white">---服務項目---</h1>
          <ul class="h6 list-unstyled">
            <li class="my-3"><a href="" class="nav-link">私人教練</a></li>
            <li class="my-3"><a href="" class="nav-link">飲食服務</a></li>
            <li class="my-3"><a href="" class="nav-link">自主入場</a></li>
            <li class="my-3"><a href="" class="nav-link">場租服務</a></li>
            <li class="my-3"><a href="" class="nav-link">線上課程</a></li>
            
          </ul>
        </div>
        <!-- 第三欄 -->
        <div class="col-12 col-md-4 my-3">
          <h1 class="h5 text-white">---相關網站---</h1>
          <ul class="h6 list-unstyled">
            <li class="my-3"><a href="" class="nav-link">MorePower專業補給站</a></li>
            <li class="my-3"><a href="" class="nav-link">Healthy健康百科</a></li>
            <li class="my-3"><a href="" class="nav-link">FitBody 健身網</a></li>
            <li class="my-3"><a href="" class="nav-link">Eat Food健康餐</a></li>
            
        </div>
      </div>
      <!-- 頁尾列：一列一欄 -->
      <div class="row mt-5">
        <div class="col m-0 p-5">
          <p class="text-center text-white">-GOPOWER FITNESS &copy; 2025-</p>
        </div>
      </div>