{% extends "base.html" %}

{% block content %}

<div class='container' align=center>
        {% if message %}
    <div class='alert alert-danger'>
        {{ message }}<br><br>
    </div>
    {% endif %}
    <h2>歡迎來到心情留言板</h2>
    <form action="/" method="POST">
        {% csrf_token %}
        {% for m in moods %}
        <input type="radio" name="mood" value="{{ m.status }}">{{ m.status }}
        {% endfor %}

        <textarea name="user_post" id=""></textarea><br>        
        <label for="user_id">Your ID</label>
        <input type="text" name="user_id" id="user_id">
        <label for="user_pass">Your Password</label>
        <input type="password" name="user_pass" id="user_pass">
        <input type="submit" value="張貼">
        <input type="reset" value="清除重填">
    </form>

</div>
{% endblock content %}