    <nav class="navbar navbar-expand-sm navbar-primary bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">英語電視台</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="{% url "engtv-url" 0 %}">Discovery</a>
                    <a class="nav-link" href="{% url "engtv-url" 1 %}">National Geographic</a>
                    <a class="nav-link" href="{% url "engtv-url" 2 %}">Discovery Science</a>
                    <a class="nav-link" href="{% url "engtv-url" 3 %}">Discovery Nature</a>
                    
                    
                </div>
            </div>
        </div>
    </nav>