{% extends "base.html" %}
{% load static %}


{% block title %}

{% endblock title %}

{% block content %}
<div class="container">
    {% if message %}<div class="alert alert-warning">{{ message }}</div>{% endif %}
    {{ user_name }} {{ user_city }} {{ user_school }} {{ user_email }}<br>
    {{ user_message | linebreaks }}
    <h2>聯絡我們</h2>

    <div class="card">
        <div class="card-header">
            <h3>寫信給管理員</h3>
        </div>
        <div class="card-body">
            <form name="contact_form" action="." method="POST">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
                <table>
                    {{ form.as_table }}
                </table> 
                <input type="submit" value="送出">
            </form>
        </div>
        <div class="card-footer">
            <h5>感謝您的訊息</h5>
        </div>
    </div>

</div>
{% endblock content %}
