{% extends "base.html" %}

{% block content %}

<div class='container' align=center>
        {% if message %}
    <div class='alert alert-danger'>
        {{ message }}<br><br>
    </div>
    {% endif %}
    <h2>歡迎來到心情留言板</h2>

    <div class='row'>
        <div class='col-md-12'>
            <div class='card'>
                <div class='card-header' align=center>
                <h3>~~寶寶心裡苦，寶寶只在這裡說~~</h3>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        {% for p in posts %}
        <div class='col-sm-12 col-md-4'>
            <div class='card'>
                <div class='card-header text-white bg-primary'>【{{ p.nickname }}】覺得{{ p.mood }}</div>
                <div class='card-body'>{{ p.message | linebreaks }}</div>
                <div class='card-footer' align='right'>
                    <i><small>{{ p.pub_time }}</small></i>
                    {% comment %} <i class="bi bi-trash"  onclick='go_delete({{p.id}})'></i> {% endcomment %}
                </div>
            </div>
        </div>
        {% empty %}
            目前沒有任何心情留言
        {% endfor %}
</div>
{% endblock content %}