<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1>this is basic about page</h1>
    <h3>this is author {{author_no}}'s about page</h3>
    <h3>this is author {{author}}'s about page</h3>

    <a href="{% url 'about_url' %}">basic about</a> <br>
    <a href="{% url 'about_no_url' author_no %}">author no's about</a> <br>
    <a href="{% url 'about2_url' %}">joe's about</a>
</body>
</html>