{% extends "base.html" %}

{% block content %}

<div class='container' align=center>
<table>
    <tr>
        <td>庫存手機</td>
        <td>廠牌/型號</td>
        <td>出廠年</td>
        <td>價格</td>
    </tr>
    {% for p in products %}
    <tr>
        <td><a href='{% url "detail-url" p.id %}'>{{ p.nickname }}</a></td>
        <td>{{ p.pmodel.maker.name }}/{{ p.pmodel.name }}</td>
        <td>{{ p.year  }}</td>
        <td align=right>{{ p.price }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock content %}