{% extends "base.html" %}

{% block content %}

<div class='container' align=center>
    {% comment %} {% if message %}
    <div class='alert alert-danger'>{{ message }}</div>
    {% endif %} {% endcomment %}
    {% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
    {% endfor %}
    <h2>歡迎光臨我的網站</h2>
    {% if username %}登入成功，歡迎您,{{ username }}
    {% else %}
    登入錯誤
    {% endif %}

    <div class="row">
        {% for product in all_products %}
        <div class="col-md-3">
        {% comment %} <img src="{{ product.image }}" alt="無圖片"> {% endcomment %}
        <img src="{{ product.image.url }}" alt="無圖片">
        <p>
            <a href='{% url "product-url" product.id %}'>{{ product.name }}</a><br>
            <a href="http://127.0.0.1:8000{{ product.image.url }}">圖片連結</a>
        </p>
        {{ product.name }}<br>
        {{ product.price }}<br>
        {{ product.description }}    
        </div>
        {% endfor %}

    </div>

</div>
{% endblock content %}